<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title of the Document</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <link rel="stylesheet" href="{% static 'cssfiles/map.css' %}">
    <script defer src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

    <script defer src="{% static 'javascript/map.js' %}"></script>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
</head>
<body>
    <div id="map-container">
        <div id="map"></div>
        <form id="cityform">
            <input type="text" id="cityvalue">
            <input type="submit">
        </form>
    </div>
    <h2 id="city"></h2>



</body>
</html>
